@import "colorsAndSizes.scss";

* {
  box-sizing: border-box;
}

// colors are taken from "https://cfpb.github.io/design-manual/brand-guidelines/color-principles.html"

body {
  margin: 0;
  font-size: 16px;
  font-family: "Avenir Next Regular", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

.cash-available {
  font-size: 1.4rem;
  font-weight: 500;
  background: $grey10;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  &.green {
    background-color: $green20;
    border-color: $green;
  }
  &.red {
    background-color: $purple20;
    border-color: $purple;
  }
}

button {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 15px;

  &.primary {
    background: $pacific;
  }
  &.secondary {
    background: $grey;
  }
  &.with-margin {
    margin: 25px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.Nav_link {
  cursor: pointer;
}

.Nav_link:link {
  color: $pacific;
  cursor: pointer;
}

.Nav_link:active {
  color: $pacific;
  cursor: pointer;
}

.Nav_link:visited {
  color: $pacific;
  cursor: pointer;
}

.page-title {
  font-size: 1.3rem;
  font-weight: 550;
}

.page-subtitle {
  font-size: 1.1rem;
  font-weight: 550;
}

.capitalize {
  text-transform: capitalize;
}
