@import "colors.scss";

* {
  box-sizing: border-box;
}

// colors are taken from "https://cfpb.github.io/design-manual/brand-guidelines/color-principles.html"



body {
  margin: 0;
  font-size: 16px;
  font-family: 'Avenir Next', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cash-available {
  font-size: 1.4rem;
  font-weight: 500;
  background: $grey10;
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  &.green {
    background-color: $green20;
    border-color: $green;
  }
  &.red {
    background-color: $purple20;
    border-color: $purple;
  }
}

button {
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 15px;

  &.primary {
    background: $pacific;
  }
  &.secondary {
    background: $grey;
  }
}

ul {
  list-style:none;
  padding-left:0;
}

.Nav_link:link {
  color: $pacific;
}

.Nav_link:active {
  color: $pacific;
}

.Nav_link:visited {
  color: $pacific;
}






