$pacific: #1579d0;

$green: #20aa3f;
$green20: #e2efd8;

$grey: #5a5d61;
$grey80: #75787b;
$grey60: #919395;
$grey40: #b4b5b6;
$grey20: #d2d3d5;
$grey10: #e7e8e9;

$purple: #b4267a;
$purple20: #f0d8e2;
