$pacific: #1579d0;
$black: #101820;
$green: #20aa3f;
$green20: #e2efd8;

$darkgrey: #43484e;
$grey: #5a5d61;
$grey80: #75787b;
$grey60: #919395;
$grey40: #b4b5b6;
$grey20: #d2d3d5;
$grey10: #e7e8e9;

$purple: #b4267a;
$purple20: #f0d8e2;

$gold: #ff9e1b;
$gold40: #ffe1b9;
$gold20: #fff0dd;
$gold10: #fff6ec;

$darknavy: #002d72;
$navy: #254b87;
$navy80: #5674a3;
$navy60: #889cc0;
$navy40: #b3c0d9;
$navy20: #d3daeb;
$navy10: #f4f6fa;
