.landing {
  margin: 0 auto;
}

.lp-btn {
  text-align: center;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

.desktop-view {
  display: none;
  width: 100%;
}
.mobile-view {
  display: inline-block;
  width: 100%;
}

.language-list {
  display: none;
}

@media screen and (min-width: 901px) {
  .wrapper-content-wrapper {
    display: flex;
    flex-direction: row;
  }

  .desktop-view {
    display: inline-block;
    margin: 0 auto;
  }

  .language-list {
    display: inline-block;
  }
}
