@import "colors.scss";


.lph-wrapper {
    display: flex;
    justify-content:space-between;
    height: 60px;
    width: 100vw;
    border-bottom: 4px solid $green;
}

.lph-image {
    height: 100%;
 }

.lph-image-container-menu {
  flex-basis: 20%;
  border-right: 1px solid gray;
}

.lph-image-container-logo {
  padding-right: 20px;
  flex-basis: 70%;
}

.lph-image-container-menu {
  flex-basis: 10%;
}

.menu-icon {
  height: 100%;
  padding: 10px;
}

.cf-logo-small {
    padding: 7px;
    height: 100%;
}

.search-icon {
    padding: 10px;
    height: 100%;
}
