.landing {
  margin: 0 auto;
}

.lp-btn {
  text-align: center;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 601px) {
  .wrapper-content-wrapper {
    display: flex;
    flex-direction: row;
  }
}
