@import "colorsAndSizes.scss";

.m-global-search {
  //   margin-right: -15px;
  //   float: right;
  display: block;

  &_content {
    position: absolute;
    left: 0;

    &-form {
      width: 100%;
    }
  }
}

.global-search_content-form {
  padding: 1.875em 0.9375em 0.9375em;

  z-index: 10;
  background-color: #f7f8f9;
  border-top: 1px solid #b4b5b6;
  border-bottom: 1px solid #b4b5b6;
  border: 1px solid green;

  .form__input-w-btn_input-container {
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
    border: solid transparent;
    border: 3px solid green;
    //   border-width: 0 15px;
    margin-right: -0.25em;
    vertical-align: top;
    width: 75%;
    border-right-width: 0;
    margin-bottom: 0.9375em;
  }

  .o-form__input-w-btn_btn-container {
    width: 30%;
    border-left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: solid transparent;
    border-width: 0 15px;
    margin-right: -0.25em;
    margin-bottom: 0.9375em;
    vertical-align: top;

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

// .u-move-to-origin {
//   transform: translate3d(0, 0, 0);
// }

// .move-transition {
//   transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
// }

.o-form__input-w-btn {
  display: block;
  position: relative;
  border: 2px solid red;
  margin-left: -15px;
  margin-right: -15px;
}

.m-btn-inside-input {
  position: relative;
}
.input-contains-label {
  position: relative;

  .a-text-input {
    box-sizing: border-box;
    width: 100%;
  }
  &_before ~ .a-text-input {
    padding-left: unit(30px / 1em);
  }
  &_after ~ .a-text-input {
    padding-right: unit(30px/ 1em);
  }
}

.input-contains-label_before {
  left: 0.75em;
  position: absolute;
  top: 0.5em;
  cursor: pointer;
  //   font-size: 1em
  .search-icon {
    width: 50%;
    border: 1px solid orange;
  }
}

.a-btn {
  appearance: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0.875em;
  border: 0;
  margin: 0;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.1s;
}

.a-btn,
.a-btn:link,
.a-btn:visited {
  background-color: #0072ce;
  color: #fff;
}
// .input-w-btn-input {
//   display: flex;
//   flex-direction: row;
//   height: 2em;
//   align-items: center;
//   border: 2px solid green;
//   width: 100%;
// }

// .a-text-input {
//   border: 0;
//   width: 15em;
//   height: 100%;
//   padding: 0.5em 0.875em;
//   line-height: normal;
//   font-size: 1em;
//   border-top: 1px solid #919395;
//   border-bottom: 1px solid #919395;
// }
