@import "colorsAndSizes.scss";

.sitenavbar-wrapper {
  height: 60px;
  width: 100vw;
  border-bottom: 4px solid $green;

  .component-body {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .image-container-menu {
    flex-basis: 20%;
    border-right: 1px solid gray;

    .menu-icon {
      height: 100%;
      padding: 10px;
    }
  }

  .image-container-logo {
    flex-basis: 70%;
    padding-right: 20px;

    .cf-logo-small {
      height: 100%;
      padding: 7px;
    }
  }

  .image-container-search {
    flex-basis: 10%;

    .search-icon {
      height: 100%;
      padding: 10px;
    }
  }

  @media screen and (min-width: 601px) {
  }

  @media screen and (min-width: 901px) {
    .component-body {
      max-width: 1200px;
    }
  }
}
